


body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 201, 196);
}
h1{
    font-size: 3rem;
}
.container{
    width: 40rem;
    display: flex;
    flex-direction: column;
    background-color:rgb(183, 180, 201);
    height: fit-content;
    padding: 2rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Merriweather Sans', sans-serif;
}

.cta-button{
    border: 2px solid black;
    padding: 1rem 2rem;
    background: transparent;
    /* font-family: 'Merriweather Sans', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    border-radius: 1rem;
    cursor:pointer;
    font-size: 2rem;
}
.cta-button:hover{
    font-weight: 900;
    border-color: wheat;
    
    color:wheat ;
}


.mouse-data{
    margin: 2rem;
    font-size:2rem;
    font-family: 'Merriweather Sans', sans-serif;
}

